.mainContainer {
  width: 90vw;
  margin: 10vw 5vw 0vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media(max-width : 600px) {
  .mainContainer {
    margin-top: 13vh;
  }
}


