.footer {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B5C0D0;
  }

p {
  font-weight: 500;
}

@media(max-width : 600px){
  .footer {
    padding: 20px;
  }
  p{
    font-weight: 700;
    font-size: 10px;
  }
}