.movieContainer {
  width: 22.5vw;
  border-radius: 12px;
  padding: 10px;
}

.movieImage {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}

.movieContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rating {
  font-weight: 500;
}

@media(max-width : 600px){
  .movieContainer {
    margin: 1vw;
    width: 43vw;
  }

  .movieContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .movieContent h3 {
    font-size: 14px;
  }

  .movieContent p {
    font-size: 12px;
    font-weight: 400;
  }
}