.movieContainer {
  width: 25%;
  /* height: 300px; */
  /* border: 1px solid red; */
  border-radius: 12px;
  padding: 10px;
}

.movieImage {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}

.movieContent {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rating {
  font-weight: 500;
}